.passwordResetRequest {
  width: 100%;
  max-width: 500px;

  padding: 3.2rem;

  border-radius: 8px;

  background: var(--gray-50);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.passwordResetRequest img {
  width: 100%;
  max-width: 13rem;

  cursor: pointer;
}

.passwordResetRequest h1 {
  margin-bottom: 0.8rem;

  font-weight: 700;
  font-size: 3rem;
}

.passwordResetRequest h2 {
  margin-bottom: 3rem;

  font-weight: 400;
  font-size: 1.6rem;
  color: var(--darkBlue-600);
}

.resetForm label {
  font-weight: 600;
  font-size: 1.7rem;
}

.resetForm input {
  width: 100%;
  height: 53px;

  margin-top: 8px;

  padding: 16px 12px;

  border: 1px solid var(--gray-300);
  border-radius: 4px;
  outline: none;

  font-weight: 400;
  font-size: 16px;

  color: var(--darkBlue-900);
  background: var(--white-900);
}

.resetForm input::placeholder {
  color: var(--gray-500);
}

.resetForm input[type="number"]::-webkit-inner-spin-button,
.resetForm input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.resetForm span {
  font-weight: 600;
  font-size: 11px;
  color: var(--red-900);
}

.wrapper {
  width: 100%;

  margin-top: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper button {
  width: 12rem;
  height: 50px;

  border: none;
  border-radius: 4px;

  font-weight: 600;
  font-size: 18px;
  color: var(--white-900);

  transition: 0.2s ease;
  cursor: pointer;
}

.wrapper button:nth-child(1) {
  border: 2px solid var(--orange-600);
  color: var(--orange-600);
  background: var(--gray-100);
}

.wrapper button:nth-child(1):hover {
  color: var(--white-900);
  background: var(--orange-600);
}

.wrapper button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white-900);
  background: var(--cyan-700);
}

.wrapper button:nth-child(2):hover {
  background: var(--cyan-900);
}

/* Styling for invalid fields */

.resetForm .invalidField {
  outline: 1px solid var(--red-900);
}

.wrapper .blockedInvalidField {
  cursor: not-allowed;
}

/* Responsive settings */

@media screen and (max-width: 540px) {
  .passwordResetRequest {
    max-width: 100svh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 0;
  }
}

@media screen and (max-width: 340px) {
  .passwordResetRequest h1 {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 315px) {
  .wrapper {
    margin-top: 3.4rem;

    flex-direction: column-reverse;
    gap: 16px;
  }

  .wrapper button {
    width: 100%;
  }
}
